@use '@/styles/variables' as vars;

.generate-codes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;

  &-button {
    width: auto;
    flex: none;
    background: vars.$color-app-bg;
    color: vars.$color-text-secondary;
    margin-top: 0;
  }

  &-message {
    margin: 0;
    font-size: 12px;
    text-align: right;

    &.success {
      color: vars.$color-success-text;
    }

    &.error {
      color: vars.$color-error-text;
    }
  }
}
